@charset "utf-8";
/*-- 拜访管理 > 拜访-@我的报告 --*/
.m-report {
  padding-top: 20px;
}
.m-report .m-list {
  position: relative;
  border: 1px solid #dedede;
  margin-bottom: -1px;
  padding-bottom: 22px;
}
.m-report .m-list .btn-check {
  position: absolute;
  top: 74px;
  right: 40px;
  border: 1px solid #2c81ff;
  width: 66px;
  height: 22px;
  line-height: 22px;
  color: #2c81ff;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
}
.m-report .m-list > .header {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 0;
}
.m-report .m-list > .header .icon-eye {
  width: 16px;
  height: 12px;
  background-position: -2px -74px;
  margin-left: 10px;
  margin-right: 10px;
}
.m-report .m-list > .header .icon-eye.z-act {
  background-position: -22px -74px;
}
.m-report .m-list > .header .title {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  height: 32px;
  line-height: 32px;
  background: #f5f6f8;
  font-size: 14px;
  color: #333;
  padding: 0 20px;
  border-radius: 50px;
}
.m-report .m-list > .footer .infors {
  padding: 0 32px;
}
.m-report .m-list > .footer .lists-one {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  text-align: center;
}
.m-report .m-list > .footer .lists-one.a,
.m-report .m-list > .footer .lists-one.b {
  width: 236px;
}
.m-report .m-list > .footer .lists-one.c {
  width: 224px;
}
.m-report .m-list > .footer .lists-one.d {
  width: 230px;
}
.m-report .m-list > .footer .lists-one h6 {
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
}
.m-report .m-list > .footer .lists-one p {
  font-size: 18px;
  color: #333;
}
/* 上传组件的样式 */
.m-uploading {
  margin-top: 20px;
  font-size: 0;
}
.m-uploading .textBtn {
  display: none;
  font-size: 12px;
  color: #2c81ff;
  margin-left: 20px;
  line-height: 90px;
  text-decoration: underline;
}
.m-uploading > .title,
.m-uploading > .imagesBox {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.m-uploading > .title {
  margin: 0;
  margin-right: 30px;
  line-height: 90px;
  font-size: 14px;
  color: #666;
}
.m-uploading > .imagesBox {
  position: relative;
  background: none;
  padding: 0;
  border: 0;
  margin-right: -10px;
  width: 76%;
  height: 115px;
  overflow: hidden;
  font-size: 0;
}
.m-uploading > .imagesBox .uploadBtn,
.m-uploading > .imagesBox .images,
.m-uploading > .imagesBox .file-item,
.m-uploading > .imagesBox .temp {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  margin-right: 10px;
}
.m-uploading > .imagesBox .uploadBtn {
  position: absolute;
  left: 0;
  top: 0;
  width: 88px;
  height: 88px;
  border: 1px solid #dfdfdf;
  background: #fff;
  margin-bottom: 16px;
}
.m-uploading > .imagesBox .images {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.m-uploading > .imagesBox .images .temp {
  width: 90px;
  height: 90px;
}
.m-uploading > .imagesBox .file-item {
  position: relative;
  margin-bottom: 16px;
}
.m-uploading > .imagesBox .file-item img {
  width: 90px;
  height: 90px;
}
.m-uploading > .imagesBox .file-item .info {
  width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 7px;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  color: #999;
}
.m-uploading > .imagesBox .file-item .file-panel {
  position: absolute;
  right: 0;
  top: 0;
}
.m-uploading > .imagesBox .file-item .file-panel .cancel {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-top: 1px;
  margin-right: 1px;
  text-indent: -9999em;
  width: 20px;
  height: 20px;
  background: url(../images/icons.png) no-repeat;
  background-position: -30px -90px;
  cursor: pointer;
}
.m-uploading > .imagesBox .file-item .file-panel .cancel:hover {
  background-position: -50px -90px;
}
.webuploader-container {
  position: relative;
}
.webuploader-element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.webuploader-pick {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: url(../images/upload-bg.png) center no-repeat;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
}
.webuploader-pick-disable {
  opacity: 0.6;
  pointer-events: none;
}
#VisitLook {
  margin-top: 10px;
}
#VisitLook .visitlook-head {
  padding: 1px 10px 0px 10px;
  background: #fff;
}
#VisitLook .visitlook-head .editors {
  overflow: hidden;
  margin: 10px;
}
#VisitLook .visitlook-head .editors span {
  float: right;
  font-size: 16px;
}
#VisitLook .visitlook-head .editors i {
  display: inline-block;
  float: right;
  width: 14px;
  height: 14px;
  margin: 2px 5px 0 0;
  background-position: -63px -22px;
  background-image: url(../images/icons.png);
}
#VisitLook .head-border {
  border: 1px solid #dee0e2;
}
#VisitLook .drop-down {
  width: 100%;
  height: 20px;
}
#VisitLook .drop-down span {
  display: block;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  background-image: url(../images/double-drop-arrow.png);
}
#VisitLook .preparation {
  border-bottom: 1px dashed #dee0e2;
  overflow: hidden;
  width: 100%;
  height: 42px;
  line-height: 42px;
  background: #fff;
}
#VisitLook .preparation ul {
  float: left;
  overflow: hidden;
  max-width: 75%;
}
#VisitLook .preparation ul li {
  display: inline-block;
  margin: 0 15px;
}
#VisitLook .preparation ul li a {
  color: #000;
}
#VisitLook .preparation ul li a:hover {
  color: #5991F8;
  text-decoration: none;
}
#VisitLook .preparation ul li:first-child {
  margin: 0 15px 0 20px;
}
#VisitLook .preparation .first-li {
  height: 100%;
  padding-right: 20px;
  min-width: 15%;
  padding-left: 35px;
  float: left;
  background: #f5f6f8;
  font-size: 12px;
  background-image: url(../images/arrow-right-entity-icon.png);
  background-size: 14px;
  background-position: 15px;
  background-repeat: no-repeat;
}
#VisitLook .preparation .date-component {
  float: right;
  width: 130px;
  height: 42px;
}
#VisitLook .preparation .date-component i {
  display: inline-block;
  width: 20px;
  float: left;
  margin-right: 6px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  background-image: url(../images/calendar.png);
}
#VisitLook .preparation .date-component input {
  width: 100px;
  height: 20px;
  margin-top: 10px;
  border: none;
  color: #2c81ff;
}
#VisitLook .time-gap ul li {
  margin: 0 8px;
}
#VisitLook .time-gap ul li a {
  display: inline-block;
  width: 48px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #000;
  text-align: center;
  color: #000;
  border-radius: 2px;
}
#VisitLook .time-gap ul li a:hover {
  border: 1px solid #5991F8;
}
#VisitLook .time-gap ul li:first-child {
  margin: 0;
  margin-right: 8px;
  margin-left: 8px;
}
#VisitLook .preparation:hover .first-li {
  background-color: #fff !important;
}
#VisitLook .preparation-date {
  border: none;
}
#VisitLook .More {
  display: inline-block;
  float: right;
  margin-right: 15px;
  height: 100%;
  width: 65px;
  color: #666;
  text-align: center;
  background-image: url(../images/arrow-down-icon.png);
  background-size: 14px;
  background-position: 45px 15px;
  cursor: pointer;
  background-repeat: no-repeat;
}
#VisitLook .visitlook-content {
  margin-top: 20px;
  padding: 15px 10px 10px 10px;
  background: #fff;
}
#VisitLook .common-table-even {
  width: 100%;
  background: #fff;
  border: 2px solid #dedede;
}
#VisitLook .common-table-even > thead > tr > th {
  padding: 6px!important;
}
#VisitLook .common-table-even .table-head {
  border: 1px solid #dee0e2;
  background: #F9FAF9;
}
#VisitLook .common-table-even thead tr {
  height: 32px;
  line-height: 32px;
  background: #f7f7f7;
}
#VisitLook .common-table-even tbody tr {
  height: 42px;
  line-height: 42px;
  background: #f9f9f9;
}
#VisitLook .common-table-even tbody tr:nth-child(2n + 1) {
  background: #fff;
}
#VisitLook .common-table-even th {
  text-align: center;
}
#VisitLook .common-table-even td {
  border: none!important;
  text-align: center;
}
#Close {
  color: #fff;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  background: url('../images/关闭60.png') no-repeat center center;
  background-size: 100%;
  margin: 30px 30px 0px 0px ;
}
.personnel-head {
  margin-bottom: 40px;
}
.personnel-head h3 {
  color: #fff;
  font-size: 26px;
  margin-bottom: 15px;
}
.personnel-head span {
  color: #fff;
  font-size: 16px;
}
#visitdetails {
  border-radius: 15px;
  padding: 20px;
  background: #fff;
  min-height: 100%;
}
#visitdetails .personnel-content-head {
  border: 1px solid #E8E8E8;
}
#visitdetails .personnel-content-head .workplan {
  margin-top: 15px;
}
#visitdetails .personnel-content-head .workplan .icon {
  width: 6px;
  height: 36px;
  background: #01aafa;
  display: inline-block;
  float: left;
}
#visitdetails .personnel-content-head .workplan span:nth-child(2) {
  font-size: 18px;
  color: #333;
  display: block;
  padding: 8px 20px;
  margin-bottom: 20px;
}
#visitdetails .personnel-content-head .customersign-remarktextarea {
  margin: 10px;
}
#visitdetails .personnel-content-head .customersign-remarktextarea textarea {
  height: 100px;
  width: 100%;
  border: 1px solid #F8F8F8;
  resize: none;
}
#visitdetails .personnel-content-head .customersign-remarktextarea span {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 32px;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url(../images/remark.png);
  margin-left: 10px;
  margin-top: 10px;
  vertical-align: middle;
  cursor: text;
  background-size: 100%;
}
#visitdetails .personnel-content-head #remarktextname {
  padding: 10px;
  font-size: 16px;
  background: #F8F8F8;
}
#visitdetails .personnel-content {
  margin-top: 20px;
  padding: 10px;
}
#visitdetails .personnel-content table {
  width: 100%;
}
#visitdetails .personnel-content table thead {
  border: 1px solid#ddd;
  background: #F5F7F9;
}
#visitdetails .personnel-content table thead th {
  text-align: center;
  padding: 10px;
}
#visitdetails .personnel-content table tbody tr:nth-child(2n) {
  background: #F9FAF9!important;
}
#visitdetails .personnel-content table tbody tr td {
  padding: 10px;
  text-align: center;
}
#visitdetails .personnel-content table tbody tr .details-Presentation {
  color: #3989FF;
}
#visitdetails .personnel-content {
  border: 1px solid #ddd;
}
.details-head h2 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}
.details-head .head-detile {
  margin-bottom: 40px;
}
.details-head .head-detile span {
  font-size: 18px;
  color: #fff;
}
.content_head {
  height: 30px;
  padding-top: 10px;
  width: 100%;
}
.backImage {
  display: inline-block;
  width: 20px;
  height: 13px;
  background-size: 10px;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url(../images/back_icon.png);
}
.pointImage {
  display: inline-block;
  width: 20px;
  height: 13px;
  background-size: 10px;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url(../images/point_icon.png);
}
#module-details {
  height: 100%;
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
#module-details .content {
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
  z-index: 100;
}
#module-details .details-close {
  width: 100%;
  text-align: right;
  font-size: 20px;
}
.m-report-infors {
  position: relative;
}
.m-report-infors.pd {
  padding: 14px 13px 0 13px;
}
.m-report-infors.mt {
  margin-top: 10px;
}
.m-report-infors.mt2 {
  margin-top: 15px;
}
.m-report-infors .icon-arrow {
  position: absolute;
  top: 2px;
  right: 59px;
  width: 22px;
  height: 16px;
  background-position: -4px -92px;
}
.m-report-infors > .content {
  padding: 10px;
  border: 1px solid #dedede;
  background: #f7f7f7;
  border-radius: 10px;
}
.m-report-infors .header {
  padding: 0 10px 10px;
  border-bottom: 1px solid #dedede;
}
.m-report-infors .header input {
  width: 125px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  padding: 0 10px;
  margin-right: 60px;
  font-size: 15px;
}
.m-report-infors .header select {
  font-size: 15px;
}
.m-report-infors .header .inform-coll {
  display: inline-block;
  float: right;
  margin-top: 10px;
  color: #2c81fe;
  text-decoration: underline;
}
.m-report-infors .body {
  padding: 20px 0 20px 0;
}
.m-report-infors .body .m-uploading {
  overflow: hidden;
}
.m-report-infors .body .m-uploading .title {
  display: inline-block;
  line-height: 50px;
  min-width: 105px;
  margin-right: 10px;
  vertical-align: top;
  text-align: right;
  color: #333;
  font-size: 14px;
}
.m-report-infors .body .lists-one {
  overflow: hidden;
  margin-bottom: 20px;
}
.m-report-infors .body .lists-one h6 {
  display: inline-block;
  width: 105px;
  margin: 15px 10px 0 0;
  vertical-align: top;
  text-align: right;
  color: #333;
  font-size: 14px;
}
.m-report-infors .body .lists-one textarea,
.m-report-infors .body .lists-one .chatUsers {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #666;
  padding: 10px 10px;
  line-height: 18px;
  width: calc(100% - 740px);
  border: 1px solid #dfdfdf;
  resize: vertical;
}
.m-report-infors .body .lists-one textarea:disabled {
  background-color: #fff;
}
.m-report-infors .body .lists-one .textearaDiv {
  display: inline-block;
  min-height: 80px;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #666;
  padding: 10px 10px;
  line-height: 18px;
  width: calc(100% - 640px);
  border: 1px solid #dfdfdf;
  resize: vertical;
  word-wrap: break-word;
}
.m-report-infors .body .lists-one .tags-box {
  float: right;
  margin-right: 40px;
  /* width:550px; */
  width: 450px;
}
.m-report-infors .body .lists-one .tags-box button {
  min-width: 60px;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  margin: 0 10px 13px 0;
  padding: 0 10px;
  background: #fff;
  color: #666;
}
.m-report-infors .body .lists-one .tags-box button.activ {
  background: #2c81fe;
  border: 1px solid #2c81fe;
  color: #fff;
}
.m-report-infors .body .lists-one .chatUsers {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-color: #fff;
  height: 80px;
}
.m-report-infors .body .lists-one .chatUsers > .tipFont {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 14px;
  color: #999;
  padding: 5px;
}
.m-report-infors .body .lists-one .chatUsers .users {
  overflow-y: auto;
  height: 53px;
}
.m-report-infors .body .lists-one .chatUsers .user {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 4px 6px 4px 5px;
  text-align: center;
  font-size: 0;
}
.m-report-infors .body .lists-one .chatUsers .user .icon-close {
  position: relative;
  top: 1px;
  width: 10px;
  height: 10px;
  background-position: -10px -40px;
  margin-right: 3px;
  cursor: pointer;
}
.m-report-infors .body .lists-one .chatUsers .user span {
  font-size: 12px;
  color: #666;
  vertical-align: middle;
}
.m-report-infors .body .lists-one .chatUsers-check {
  height: 70px;
  padding-bottom: 10px;
}
.m-report-infors .body .lists-one .chatUsers-check .tipFont {
  top: 10px;
  left: 10px;
  bottom: auto;
}
.m-report-infors .body .lists-one .chatUsers-check .names {
  display: block;
  font-size: 12px;
  color: #666;
  text-indent: 20px;
}
.m-report-infors .footer {
  position: relative;
}
.m-report-infors .footer .text {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 12px;
  color: #2c81ff;
}
.m-report-infors .footer .text .icon {
  position: relative;
  top: -1px;
  width: 9px;
  height: 9px;
  background-position: -45px -75px;
  margin-left: 4px;
}
.m-report-infors .footer .title {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}
.m-report-infors .footer > .leaveWord {
  background: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  border: 1px solid #dfdfdf;
  min-height: 60px;
}
.m-report-infors .footer > .leaveWord .chat-one {
  padding: 15px 10px 12px 10px;
  border-bottom: 1px dotted #dfdfdf;
}
.m-report-infors .footer > .leaveWord .chat-one h6 {
  font-size: 12px;
  color: #2c81ff;
  margin-bottom: 7px;
}
.m-report-infors .footer > .leaveWord .chat-one p {
  font-size: 12px;
  color: #333;
  line-height: 18px;
}
.m-report-infors .footer > .leaveWord .chat-one p b {
  margin-left: 3px;
  margin-right: 3px;
  color: #2c81ff;
}
.m-report-infors .footer > .leaveWord .chat-one.z-checked {
  background: #f7f7f7;
}
.m-report-infors .footer > .leaveWord .textarea {
  position: relative;
  margin-top: 15px;
}
.m-report-infors .footer > .leaveWord .textarea > div {
  position: relative;
  border: 1px solid #dfdfdf;
  background: #fff;
  padding: 10px;
}
.m-report-infors .footer > .leaveWord .textarea > div span {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  color: #ccc;
}
.m-report-infors .footer > .leaveWord .textarea > div textarea {
  width: 94%;
  height: 40px;
  font-size: 12px;
  color: #333;
  border: 0;
  resize: none;
}
.m-report-infors .footer > .leaveWord .textarea .tipFont,
.m-report-infors .footer > .leaveWord .textarea .btn {
  position: absolute;
  z-index: 10;
}
.m-report-infors .footer > .leaveWord .textarea .btn {
  width: 44px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  right: 10px;
  bottom: 10px;
  background: #2c81ff;
}
.m-report-infors .footer > .leaveWord .textarea .tipFont {
  right: 64px;
  bottom: 14px;
  font-size: 14px;
  color: #999;
}
#module-details .content {
  padding: 20px;
  overflow-y: scroll;
  margin-top: 100px;
}
