/* iCheck.js red-circle ----------------------------------- */

.icheckbox_red {
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *zoom: 1;
    width: 15px;
    height: 15px;
    background: url(red.png) no-repeat;
    border: none;
    cursor: pointer;
    background-position: 0 0;
}

.icheckbox_red.checked {
    background-position: -16px 0;
}


/* Retina support */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_blue {
        background-image: url(red@2x.png);
        -webkit-background-size: 63px 15px;
        background-size: 63px 15px;
    }
}