//字体变量
@fontBase:14px;
@fontSmall:@fontBase + 1;
@fontXSmall:@fontBase - 2;
@fontMedium:@fontBase + 2;
@fontLarge:@fontBase + 4;

//列表
//大标题均为32px，小标题均为26px
//内容26px
//状态名称以及内容24px
@importantFont:@fontBase + 4; //重要普通字体  18px 
@importantLargeFont:@fontBase + 5; //重要大字体 19px

@normalFont:@fontBase - 1; //正常字体 13px 
@normalLargeFont:@fontBase + 2; //正常大字体 16px

@assistantFont:@fontBase - 3; //辅助正常字体 11px
@assistantLargeFont:@fontBase - 2; //辅助大字体 12px
//状态变量
@activeState:#4b92e0;

//颜色变量
@success:@activeState;


//每页列表数据间距
@listMargin:.6rem .8rem;
@listItemMargin:.5rem 0;
@listItemLargeMargin:1.3rem 0;
@listPadding:.5rem 0.5rem;

//CustomHeader组件
.ysp-header-wrapper{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.7rem;
  background-color: #37363c;
  color: #fefefe;
}


.ysp-header-wrapper > span:nth-child(1){
  flex:0 1 20%;
  display:flex;
  align-items:center;
}

.ysp-header-wrapper > span:nth-child(1) > span:first-child{
  margin-left: .2rem;
  display:flex;
  align-items:center;
}

.ysp-header-wrapper > span:nth-child(2){
  flex: 0 1 60%;
  font-weight: 600;
}

.ysp-header-wrapper > span:nth-child(3){
  flex:0 1 20%;
}

.ysp-header-back-icon{
  background-image:url("./images/header-back-icon.png");
  background-size:100% 100%;
  height:1.2rem;
  width:1.2rem;
}

//ClientList组件
.ysp-client-list-wrapper{
  padding: @listPadding;
  display:flex;
}

.ysp-client-list-header{
}

.ysp-client-list-wrapper > article:nth-child(1){
  flex: 0 1 90%;
  display: inline-block;
}
.ysp-client-list-wrapper > aside:nth-child(2){
  flex: 0 1 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header.ysp-client-list-header > span:first-child {
  color: #000000;
  font-weight: 600;
  font-size:@normalLargeFont;
  overflow: hidden;
  white-space: nowrap;
  width: 16rem;
  display: inline-block;
  text-overflow: ellipsis;
}

.ysp-client-list-container{
  font-size: 14px;
  color: #CCCCCC;
}

.ysp-client-list-container > span{
  display: flex;
  align-items: center;
  line-height: 1.5rem;
}

.ysp-entry-icon{
  height: 1.2rem;
  background: url("images/entry-icon.png");
  width: 1.2rem;
  display: inline-block;
  background-size: 100% 100%;
}

//颜色状态
.ysp-success-state{
  color:#6ca6fa;
}

.ysp-forbidden-state{
  color:#b3b3b3;
}

//客户列表查询
.ysp-client-query-view{
    > div:last-child{
       > div.ysp-module:first-child> div:first-child > div:nth-child(2) {
            width: 100%;
            height: 100%;
            background-color: white;
       }
    }
    //内部对话框样式
    .ysp-dialog-wrapper{
       > header.ysp-dialog-header{
          display: flex;
          align-items: center;
          > input.field{
             flex:0 1 70%;
          }
          > span{
             flex:0 1 30%;
          }
       }
       > div.ysp-dialog-body{

       }
    }
}
//对话框组件
.ysp-dialog-wrapper{
   width: 100%;
   height: 100%;
   left:0;
   top:0;
   background-color: white;
   position:fixed;
   z-index: 1000;
}
//对账单
.ysp-rightbill-list-wrapper{
  padding: @listPadding;
  article > header.ysp-rightbill-list-header{
    margin-bottom: .5rem;
    span:nth-child(1){
       color:#5aa0de;
       font-size:18px;
    }
  }
  > article{
     margin-bottom: 1rem;
  }
  div.ysp-rightbill-list-container{   
    display:flex;
    align-items:center;
    > span:nth-child(1){
        color: #989898;
        flex: 0 1 20%;
    }
    > span:nth-child(2){
        color: #686868;
        flex: 0 1 20%;
        display:flex;
        align-items:center;
        > span.ysp-rightbill-list-divider{
            width: 0.1rem;
            background-color: #e43508;
            height: .9rem;
            margin: 0 .2rem;
        } 
    }
    > span:nth-child(3){
        color: #989898;
        flex: 0 1 10%;
    }
    > span:nth-child(4){
        color: #686868;
        flex: 0 1 20%;
    }
    > span:nth-child(5){
        color:#686868;
        flex:0 1 30%;
        align-items:center;
        > span.ysp-rightbill-list-divider{
           width:0.1rem;
           background-color:#e43508;
           height:.9rem;
           margin: 0 .2rem;
        } 
    }
  }
}
//过往业绩
.ysp-before-performance{
  .cardlist-item{
    padding: 10px;
    border-bottom: 1px solid #dde1ea;
    div{
      display: flex;
    }
    div:first-child{
      justify-content: space-between;
      span:first-child{
        color: #438CE7;
        font-size: 14px;
      }
      span:last-child{
        color: #dde1ea;
        font-size: 12px;
      }
    }
    div:last-child{
      span{
        width: 50%;
        text-align: left;
        display: inline-block;
        position: relative;
        i{
          display: block;
          position: absolute;
          width: 20px;
          height: 30px;
          top: 0;
          left: 0;
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: center;
        }
        h3{
          display: inline;
          font-size: 12px;
          padding: 0 10px 0 30px;
          color: #bfbfbf !important;
        }
      }
      span:first-child{
        color: #000;
        font-size: 14px;
        i{
          background-image: url();
        }
      }
      span:last-child{
        color: #f00;
        font-size: 14px;
        i{
          background-image: url();
        }
      }
    }
  }
}
//客户经营规模
.ysp-client-scale{
  ::-webkit-scrollbar{
/*    height: 0; */
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .tabsHeader{
    width: 100%;
    overflow-x: scroll;
    ul{
      width: 200%;
      box-shadow: 0 2px 2px #999;
     
      li{
        display: inline-block;
        border-right: 2px solid #dde1ea;
        padding: 10px 0;
        margin: 10px 0;
        font-size: 16px;
        color: #000;
        width: 20%;
        text-align: center;
      }
      li:last-child{
        border: 0;
      }
      .active{
        color: #4796ED;
        border-bottom: 2px solid #4796ED;
      }
    }
  }
  .tabsContent{
    width: 100%;
    overflow-x: scroll;
    margin-top: 10px;
    ul{
      width: 100%;
      
      li{
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 10px 0;
        border-bottom: 1px solid #dde1ea;
        color: #9d9d9d;
        span{
          flex: 1;
          text-align: center;
        }
      }
      li:first-child{
        color: #000;
      }
    }
  }
}

//电子钱包
.ysp-electron-wallet{
  ul{
    margin: 0;
    padding: 0;
  }
  ul{
    li{
      margin: 10px;
      display: flex;
      justify-content: space-between;
      div:first-child{
        margin-bottom: 10px;
        h3{
          font-size: 16px;
          color: #6CA1E5;
          font-weight: 400;
        }
        span{
          font-size: 12px;
          color: #dde1ea;
        }
        i{
          font-size: 14px;
          color: #000;
          font-style: normal;
        }
      }
      div:last-child{
/*         display: flex;
        align-content: center; */
        h3{
          font-weight: 400;
          font-size: 16px;
          color: #f00;
          text-align: center;
        }
        h4{
          font-weight: 400;
          font-size: 12px;
          color: #dde1ea;
          text-align: center;
        }
      }
    }
  }
}

//联系人
.ysp-contacts{
  h3{
    margin: 0;
    padding: 0;
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #dde1ea;
      padding: 10px;
      
      div{
        flex: 1;
        span{
          font-size: 14px;
        }
        span:first-child{
          display: inline-block;
          color: #000;
        }
        span:first-child:after{
/*          content: '';
          display: inline-block;
          width: 4px;
          height: 15px;
          background: red;
          padding: 0 10px; */
        }
        span:last-child{
          font-size: 12px;
          color: #B8B8B8;
        }
        h3{
          font-size: 12px;
          color: #B8B8B8;
          margin-top: 10px;
        }
      }
    }
    div:last-child{
      h3{
        font-size: 12px;
        color: #B8B8B8;
        text-align: right;
        margin-top: 10px;
      }
    }
  }
}

//责任团队视图
.ysp-dutyview-list-wrapper{
  padding: @listPadding;
  > article{
    margin:@listItemMargin;
    header.ysp-dutyview-list-header{
      >span{
         font-weight:700;
      }
      margin-bottom:.5rem;
    }
    div.ysp-dutyview-list-container{
      color:#bcbcbc;
      font-size:15px;
      > span:first-child{

      }

      > span:last-child{
         margin-left:1rem; 
      }
    }
  }
}

//用户
.ysp-user-list-wrapper{
    padding: @listPadding;
    > article{
        margin:@listItemMargin;

        header.ysp-user-list-header{
          margin-bottom:.5rem;
          display: flex;
          align-items: center;
          > span:first-child{
               font-weight:700;
               flex:0 1 80%;
               color: #6CA1E5;
               font-size:@fontLarge;
               text-align: left;
          }
          > span:last-child{
               flex:0 1 20%;
               font-size:@fontBase;
               text-align: center;
          }
        }

        div.ysp-user-list-container{
           > div{
              margin:.2rem;
              display:flex;
              align-items: center;
              font-size:@fontSmall;
              > span:first-child{
                display: flex;
                align-items:center;
                flex:0 1 30%;
                color:#9a9a9a;
                text-align: left;
                > span:first-child{
                   
                }
                > span:last-child{
                   margin-left: .2rem;
                }
              }

              > span:last-child{
                flex:0 1 70%;
                color:#747474;
                text-align: right;
              } 
           }
        }
    }
}

//订单
.ysp-orderform-list-wrapper{
  padding: @listPadding;
  > article{
     margin:@listItemLargeMargin; 
     header.ysp-orderform-list-header{
        display: flex;
        align-items: center;
        font-size: @fontSmall;
        > span:first-child{
           flex:0 1 70%;
           text-align: left;
           >span:nth-child(1){
              color:#a0a0a0;
           }
           >span:nth-child(2){
              width: .1rem;
              margin: 0 .2rem;
              border: .05rem solid #e7360c;
           }
           >span:nth-child(3){
              color:#6db7f6;
           }
        }
 
        > span:last-child{
           flex:0 1 30%;
           text-align: center;
           > span{

           }
        }
     }

     div.ysp-orderform-list-container{
         margin: @listItemMargin;
         color: #818181;
     }

     footer.ysp-orderform-list-footer{
        display: flex;
        align-items: center;
        font-size: @fontSmall;
        > span:first-child{
           flex:0 1 70%;
           text-align: left;
           >span:nth-child(1){
              color:#a0a0a0;
           }
           >span:nth-child(2){
              width: .1rem;
              margin: 0 .2rem;
              border: .05rem solid #e7360c;
           }
           >span:nth-child(3){
              color:#6db7f6;
           }
        }
 
        > span:last-child{
           flex:0 1 30%;
           text-align: center;
           > span{
             
           }
        }
     }
  } 
}

// 客户分类
.ysp-clientClassify-border {
  border-bottom: 1px solid #EFF0F1;
  .ysp-clientClassify-p1 {
    color: #3384D9;
    margin: 10px 20px 0px;
  }
  .ysp-clientClassify-div {
    display: flex;
    .ysp-clientClassify-p2 {
      margin: 10px 10px 10px 20px;
      flex: 5;
      font-size: .75rem;
    }
    .ysp-clientClassify-p3 {
      margin: 10px 20px 10px 10px;
      flex: 4;
      font-size: .75rem;
    }
    .ysp-clientClassify-span1 {
      color: #999;
    }
    .ysp-clientClassify-span2 {
      color: red;
    }
  }
}
// 客户项目
.ysp-clientProject-border {
  position: relative;
  border-bottom: 1px solid #EFF0F1;
  .ysp-clientProject-p1 {
    margin: 10px 10px 0px 20px;
    color: #4A98E9;
  }
  .ysp-clientProject-div {
    position: absolute;
    top: 3px;
    right: 20px;
    font-size: .75rem;
    width: 3rem;
    text-align: center;
    border-radius: 10rem;
    .ysp-clientProject-p2 {
      font-size: .75rem;
      margin: 10px 20px;
    }
    .ysp-clientProject-span1 {
      color: #9D9E9F;
    }
    .ysp-clientProject-span2 {
      color: #DD3A1F;
      padding: 0 5px;
    }
  }
}

// 收货地址
.ysp-consigneeAddress-border {
  border-bottom: 1px solid #E2E3E4;
  .ysp-consigneeAddress-div1 {
    display: flex;
    .ysp-consigneeAddress-p1 {
      margin: 10px 20px;
      position: relative;
      flex: 1;
      .ysp-consigneeAddress-svgUser {
        display: inline-block;
        position: relative;
        top: 5px;
        margin-right: 5px;
        width: 20px;
        height: 20px;
        background-size: 100%;
        background-image: url('images/user-icon.png');
      }
    }
    .ysp-consigneeAddress-p2 {
      margin: 10px 20px;
      position: relative;
      font-size: .75rem;
      color: #939495;
      .ysp-consigneeAddress-svgPhone {
        display: inline-block;
        width: 16px;
        height: 16px;
        left: -18px;
        position: absolute;
        background-size: 100%;
        background-image: url('images/phone-icon.png');
      }
    }
  }
  .ysp-consigneeAddress-p3 {
    color: #666;
    font-size: .75rem;
    position: relative;
    margin: 0px 20px 10px 20px;
    .ysp-consigneeAddress-svgMap {
      display: inline-block;
      top: 5px;
      margin-right: 5px;
      position: relative;
      width: 16px;
      height: 20px;
      background-size: 100%;
      background-image: url('images/address-icon.png');
    }
  }
  > hr {
    margin: 0 20px;
  }
  .ysp-consigneeAddress-div2 {
    display: flex;
    .ysp-consigneeAddress-p4 {
      margin: 10px 20px;
      font-size: .75rem;
      color: #4990D6;
      > span {
        color: #9A9B9C;
      }
    }
    .ysp-consigneeAddress-div3 {
      margin: 5px 0px;
      border-right: 1px solid #E2E3E4;
    }
    .ysp-consigneeAddress-p5 {
      flex: 1;
      margin: 10px 20px;
      font-size: .75rem; 
      color: #4990D6;
      > span {
        color: #9A9B9C;
      }
    }
    .ysp-consigneeAddress-p6 {
      background: #4A96F2;
      margin: 10px 20px 10px 0px;
      color: white;
      border-radius: 10rem;
      width: 2.5rem;
      text-align: center;
      font-size: .75rem;
    }
  }
}

//订单详情
.ysp-orderform-detail-nav-wrapper{
   width: 100%;
   .ysp-orderform-detail-nav-active{
      border-bottom: 2px solid @success;
   }
   > ul{
      list-style-type: none;
      list-style: none;
      margin: 0;
      padding: 0;
      width:100%;
      display: flex; 
      align-items: center;
      font-weight: 700;
      > li{
        height:3rem;
        flex:0 1 33.3333%;
        display: flex;
        align-items: center;
        justify-content: center;
        > span{
           color:@success;
        }
      }
      > li:nth-child(1){
        border-right: 1px solid #cccccc;
      }
      > li:nth-child(2){
        border-right: 1px solid #cccccc;
      }
   }
}

//订单详情行项目/付款公共样式
.ysp-orderform-project-wrapper{
  padding: @listPadding;
  //付款样式
  .ysp-orderform-project-container-pay{
    color: #dd3200;
    font-size: 1.5em;
  }
  .ysp-orderform-project-pay-background-red{
    padding:3px 8px;
    background:#dd3300;
    color:#fff;
    border-radius:10px;
  }
  .ysp-orderform-project-pay-background-blue{
    padding:3px 8px;
    background:#5696f0;
    color:#fff;
    border-radius:10px;
  }
  .ysp-orderform-project-pay-flex{
    flex:none !important;
  }
  .ysp-orderform-project-pay-color-flex{
    color:#000 !important;
  }
  > article{
     margin:@listItemLargeMargin; 
     header.ysp-orderform-project-header{
        display: flex;
        align-items:center;
        font-size: @fontSmall;
        > span:first-child{
           flex:0 1 30%;
           text-align: left;
           color: #8e8e8e;
        }
        > span:last-child{
            flex:0 1 70%;
            text-align: right;
            > span:first-child{
               color: #8e8e8e;
               margin-right: 10px;
            }
            > span:last-child{

            }
        }
     }

     div.ysp-orderform-project-container{
         margin-bottom: 1rem;
         > div:first-child{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
         }

         > div:last-child{
            > span:first-child{
                color: #8e8e8e;
            } 
            > span:last-child{
                font-size: @fontLarge;
                margin-left: .5rem;
                color:#ee3000;
            } 
         }
     }

     footer.ysp-orderform-project-footer{
         display: flex;
         align-items: center;
         > span{
             flex:0 1 25%;
             > span:first-child{
                color:#a4a4a4;
                font-size: @fontSmall;
             }
             > span:last-child{
                color:#77b3d7;
                margin-left:.3rem;
             }
         }
     }
  }
}
//信用额度
.credit{
  padding:15px 15px;
  overflow:hidden;
  border-bottom:1px solid #aaa;
  margin-bottom:1.3em;
  >div{
    color:#65a5f1;
    font-size:1.4em;
  }
  >ul{
    list-style:none;
    padding:0!important;
    margin:0!important;
    width:50%;
    float:left;
    >li{
      width:100%;
      padding:5px 0;
      text-align:center;
    }
    >li:first-child>span{
      color:#f00;
      font-size:1.3em;
    }
    >li:last-child>span{
      color:#aaa;
      font-size:1.2em;
    }
  }
}

//信用额度
.credit-list{
  padding:10px;
  padding-bottom:none;
  >article{
    >header{
      padding:5px 0;
      >span:first-child{
        color:#000;
        font-size:1.4em;
      }
      >span:last-child{
        float: right;
        >span:last-child{
          color:#6394fc;
          padding: 0 1em;
        }
      }
    }
    >ul{
      list-style:none;
      padding:0;
      margin:0;
      margin-bottom:0.6em; 
      overflow:hidden;
      >li{
        float:left;
        color:#aaa;
      }
    }
    >ul:last-child{
      padding-bottom:0.6em;
      border-bottom:1px solid #aaa;
    }
  }
}
//信用额度组件dialog内容样式
section.ysp-dialog-body-list{
  overflow:hidden;
  padding: 0.7em 0.6em;
  border-bottom: 1px solid #ccc;
  i{
    font-style: normal;
    font-size: 0.6em;
  }
  >div{
    >i:first-child{
      color:#aaa;
      margin-right:1em;
    } 
  }
  >div{
    >i:last-child{
      color:#65a5f1;
      margin-right:1em;
    }
  }
  >span{
    >i:first-child{
      color:#aaa;
      margin-right:1em;
    }
  }
  >span:nth-child(2){
    display: inline-block;
    width: 55%;
    >i:last-child{
      color:#000;
    }
  }
  >span:last-child{
    display: inline-block;
    width: 45%;
    float: right;
    >i:last-child{
      color:#f03911;
    }
  } 
}
//客户信息
.ysp-clientinfo-wrapper{
  padding: @listPadding;
  > section.ysp-clientinfo-list{
     > div.ysp-clientinfo-list-item{
       display: flex;
       align-items: center;
       font-size: 13px;
       font-weight: 700;
       margin-top: 2.2rem;
       > div{
         flex: 0 1 25%;
         height: inherit;
         display: flex;
         justify-content: center;
         flex-direction: column;
         > div:first-child{
             height: 2rem;
             display: flex;
             align-items: center;
             justify-content: center;
             > span{

             }
         }
         > div:last-child{
             justify-content: center;
             height: 2rem;
             display: flex;
             align-items: center;
         }
       }
     }
  }
}



//公用的icon
.ysp-email-icon{
  height:.8rem;
  width:1rem;
  background-image: url("./images/email-icon.png");
  background-size:100% 100%;
}

.ysp-phone-icon{
  height:.9rem;
  width:1rem;
  background-image: url("./images/phone-icon.png");
  background-size:100% 100%;
}
.ysp-orderform-icon{
  height:1.8rem;
  width:1.5rem;
  background-image: url("./images/orderform-icon.png");
  background-size:100% 100%;
}
.ysp-salerebate-icon{
  height:1.8rem;
  width:1.5rem;
  background-image: url("./images/salerebate-icon.png");
  background-size:100% 100%;
}
.ysp-rightbill-icon{
  height:1.8rem;
  width:1.5rem;
  background-image: url("./images/rightbill-icon.png");
  background-size:100% 100%;
}
.ysp-electronwallet-icon{
  height:1.8rem;
  width:1.8rem;
  background-image: url("./images/electronwallet-icon.png");
  background-size:100% 100%;
}
.ysp-creditlimit-icon{
  height:1.8rem;
  width:1.5rem;
  background-image: url("./images/creditlimit-icon.png");
  background-size:100% 100%;
}
.ysp-mendian-icon{
  height:1.8rem;
  width:1.5rem;
  background-image: url("./images/mendian-icon.png");
  background-size:100% 100%;
}
.ysp-previousyeji-icon{
  height:1.8rem;
  width:1.5rem;
  background-image: url("./images/previousyeji-icon.png");
  background-size:100% 100%; 
}
.ysp-dutyteamview-icon{
  height:1.8rem;
  width:1.5rem;
  background-image: url("./images/dutyteamview-icon.png");
  background-size:100% 100%;
}
.ysp-clientproject-icon{
  height:1.8rem;
  width:1.5rem;
  background-image: url("./images/clientproject-icon.png");
  background-size:100% 100%;
}
.ysp-clientmanagerscale-icon{
  height:1.8rem;
  width:1.5rem;
  background-image: url("./images/clientmanagerscale-icon.png");
  background-size:100% 100%;
}
.ysp-clientclassify-icon{
  height:1.8rem;
  width:1.5rem;
  background-image: url("./images/clientclassify-icon.png");
  background-size:100% 100%;
}
.ysp-consigneeaddress-icon{
  height:1.8rem;
  width:1.5rem;
  background-image: url("./images/consigneeaddress-icon.png");
  background-size:100% 100%;
}
.ysp-receivebilladdress-icon{
  height:1.8rem;
  width:1.5rem;
  background-image: url("./images/receivebilladdress-icon.png");
  background-size:100% 100%;
}
.ysp-contacts-icon{
  height:1.8rem;
  width:1.5rem;
  background-image: url("./images/contacts-icon.png");
  background-size:100% 100%;
}
.ysp-user-icon{
  height:1.8rem;
  width:1.5rem;
  background-image: url("./images/user-large-icon.png");
  background-size:100% 100%;
}
.ysp-clientportrait-icon{
  height:1.8rem;
  width:1.5rem;
  background-image: url("./images/clientportrait-icon.png");
  background-size:100% 100%;
}
.ysp-enterpriseinfo-icon{
  height:1.8rem;
  width:1.5rem;
  background-image: url("./images/enterpriseinfo-icon.png");
  background-size:100% 100%;
}
//状态信息
.ysp-active-state{
  background-color: #4b92e0;
  border-radius: 10px;
  padding: .1rem .5rem;
  text-align: center;
  font-size:@fontXSmall;
  color: white;
}

.ysp-danger-state{
  background-color: #ed310b;
  border-radius: 10px;
  padding: .1rem .5rem;
  text-align: center;
  font-size:@fontXSmall;
  color: white;
}
/*客户详情头部样式*/
section.ysp-customer-details{
  padding:0 20px;
  i.ysp-customer-details-color-red{
    background:#e93b12;
    border-radius:10px;
    padding:0 15px;
  }
  i.ysp-customer-details-color-blue{
    background:#207bcf;
    border-radius:10px;
    padding:0 15px;
  }
  >h1{
    font-style: normal;
    color:#000;
    font-size: @importantFont;
    margin:0 auto;
    text-align: center;
    padding: 16px 0;
  }
  >div{
    margin:0 auto;
    margin-bottom: 50px;
    >span{
      width:50%;
      display: inline-block;
      >i{
        display:inline-block;
        font-size: @assistantLargeFont;
        font-style:normal;
      }
      >i:first-child{
        color:#000;
        margin-right:10px;
      }
      >i:last-child{
        color:#fff;
      }
    }
    >span:first-child{
      padding-right:10px;
      text-align: right;
    }
  }
  >footer{
    >ul{
      list-style: none;
      padding:0;
      padding-right:10px;
      margin:0;
      width:50%;
      overflow: hidden;
      display: inline-block;
      >li{
        float:left;
        font-size: @normalFont;
      }
      >li:first-child{
        color:#aaa;
      }
      >li:last-child{
        color:#e93b12;
      }
      >li:nth-child(2){
        color: #aaa;
        margin: 0 5px;
      }
    }
  }
}































