/* 定制样式  */
.custom-table th,.custom-table td {
	padding: 0.3rem 0.7rem;
	white-space: nowrap;
  text-align: center;
  border: 1px solid #ddd;
}

.tr-blue {
	color:#24a0df;
}

.tr-gray {
	color:#999;
}

.custom-table-card {
	overflow: auto;
	margin: 0;
	padding: 0;
	box-shadow: none;
}

button.distribution-header-left-btn {
	width: 40px;
	height: 40px;
	border: none;
	background: #0e90d2;
transition: 0s;
background: url(../../lib/images/back.png) 0 center no-repeat;
	background-size: auto 50%;
	position: absolute;
}
button.distribution-header-left-btn:hover {
	background: #0e90d2;
transition: 0s;
background: url(../../lib/images/back.png) 0 center no-repeat;
	background-size: auto 50%;
}
._1aLbec7NAeaaSKFPBtnykO{
	margin-top:44px;
	height:100%;
	width:100%;
}
._1aLbec7NAeaaSKFPBtnykO >div:nth-child(1){
	height:100%;
}
