.clsJGCTextBox2D
{
    JBACKGROUND-COLOR: #FFFFFF;
    JBACKGROUND-COLOR-DISABLED: #DEDEDE;
    JBACKGROUND-COLOR-READONLY: #DEDEDE;
    JBORDER: 1px solid black;
    JCOLOR: #000000;
    JCOLOR-DISABLED: gray;
    JCURSOR: text;
    JCURSOR-DISABLED: default;
    JFONT-FAMILY: ±¼¸²,Arial;
    JFONT-SIZE: 8pt;
    JHEIGHT: 18px
}

.clsJGCTextBox3D
{
    JBACKGROUND-COLOR: #FFFFFF;
    JBACKGROUND-COLOR-DISABLED: #EEEEEE;
    JBACKGROUND-COLOR-READONLY: #EEEEEE;
    JBORDER: 1px solid #DBDBDB;
    JCOLOR: #000000;
    JCOLOR-DISABLED: gray;
    JCURSOR: text;
    JCURSOR-DISABLED: default;
    JFONT-FAMILY: ±¼¸²,Tahoma;
    JFONT-SIZE: 8pt;
    JHEIGHT: 19px
}

.clsJGCComboBox2D
{
    JBACKGROUND-COLOR: #FFFFFF;
    JBACKGROUND-COLOR-DISABLED: #DEDEDE;
    JBACKGROUND-COLOR-READONLY: #DEDEDE;
    JBORDER: 1px solid black;
    JCOLOR: #000000;
    JCOLOR-DISABLED: gray;
    JCURSOR: text;
    JCURSOR-DISABLED: default;
    JFONT-FAMILY: ±¼¸²,Arial;
    JFONT-SIZE: 8pt;
    JHEIGHT: 18px
}

.clsJGCComboBox3D
{
    JBACKGROUND-COLOR: #FFFFFF;
    JBACKGROUND-COLOR-DISABLED: #EEEEEE;
    JBACKGROUND-COLOR-READONLY: #EEEEEE;
    JBORDER: 1px solid #DBDBDB;
    JCOLOR: #000000;
    JCOLOR-DISABLED: gray;
    JCURSOR: text;
    JCURSOR-DISABLED: default;
    JFONT-FAMILY: ±¼¸²,Tahoma;
    JFONT-SIZE: 8pt;
    JHEIGHT: 20px;
    JVISIBLEITEMS: 5;
}

.clsJGCPickList2D
{
    JBACKGROUND-COLOR: #FFFFFF;
    JBACKGROUND-COLOR-DISABLED: #DEDEDE;
    JBACKGROUND-COLOR-READONLY: #DEDEDE;
    JBORDER: 1px solid black;
    JCOLOR: #000000;
    JCOLOR-DISABLED: gray;
    JCURSOR: hand;
    JCURSOR-READONLY: default;
    JFONT-FAMILY: ±¼¸²,Arial;
    JFONT-SIZE: 8pt;
    JHEIGHT: 18px
}

.clsJGCPickList3D
{
    JBACKGROUND-COLOR: #FFFFFF;
    JBACKGROUND-COLOR-DISABLED: #EEEEEE;
    JBACKGROUND-COLOR-READONLY: #EEEEEE;
    JBORDER: 1px solid #DBDBDB;
    JCOLOR: #000000;
    JCOLOR-DISABLED: gray;
    JCURSOR: default;
    JFONT-FAMILY: ±¼¸²,Tahoma;
    JFONT-SIZE: 8pt;
    JHEIGHT: 20px
}

.clsJGCTextArea2D
{
    JBACKGROUND-COLOR: #FFFFFF;
    JBACKGROUND-COLOR-DISABLED: #DEDEDE;
    JBACKGROUND-COLOR-READONLY: #DEDEDE;
    JBORDER: 1px solid black;
    JCOLOR: #000000;
    JCOLOR-DISABLED: gray;
    JCURSOR: default;
    JFONT-FAMILY: ±¼¸²,Arial;
    JFONT-SIZE: 8pt;
    JHEIGHT: 18px
}

.clsJGCTextArea3D
{
    JBACKGROUND-COLOR: #FFFFFF;
    JBACKGROUND-COLOR-DISABLED: #EEEEEE;
    JBACKGROUND-COLOR-READONLY: #EEEEEE;
    JBORDER: 1px solid #DBDBDB;
    JCOLOR: #000000;
    JCOLOR-DISABLED: gray;
    JCURSOR: default;
    JFONT-FAMILY: ±¼¸²,Tahoma;
    JFONT-SIZE: 8pt;
    JHEIGHT: 20px
}

.clsJGCHyperList2D
{
    JCOLOR: blue;
    JCURSOR: hand;
    JFONT-FAMILY: ±¼¸²,Arial;
    JFONT-SIZE: 8pt;
    JHEIGHT: 18px
}

.clsJGCHyperList3D
{
    JCOLOR: blue;
    JCURSOR: hand;
    JFONT-FAMILY: ±¼¸²,Tahoma;
    JFONT-SIZE: 8pt;
    JHEIGHT: 20px
}

.clsJGCCheckBox2D
{
    JBACKGROUND-COLOR: white;
    JBACKGROUND-COLOR-READONLY: #DEDEDE;
    JBORDER: 1px solid black;
    JCURSOR: default;
    JHEIGHT: 18px;
    JWIDTH: 10px
}

.clsJGCCheckBox3D
{
    JBACKGROUND-COLOR: white;
    JBACKGROUND-COLOR-READONLY: #EEEEEE;
    JBORDER: 1px solid #DBDBDB;
    JCURSOR: default;
    JHEIGHT: 20px;
    JWIDTH: 10px
}

.clsJGCButton2D
{
    JBACKGROUND-COLOR: #DEDEDE;
    JBACKGROUND-COLOR-OVER: #EEEEEE;
    JBACKGROUND-COLOR-PRESS: #EEEEEE;
    JBORDER: none;
    JBORDER-OVER: none;
    JBORDER-PRESS: none
}

.clsJGCButton3D
{
    JBACKGROUND-COLOR: #DEDEDE;
    JBACKGROUND-COLOR-OVER: #EEEEEE;
    JBACKGROUND-COLOR-PRESS: #EEEEEE;
    JBORDER: 2px outset;
    JBORDER-OVER: 2px outset;
    JBORDER-PRESS: 1px ridge
}

.clsJGCDropArrow2D
{
    JBACKGROUND-COLOR: #FFFFFF;
    JBACKGROUND-COLOR-DISABLED: #DEDEDE;
    JBACKGROUND-COLOR-READONLY: #DEDEDE;
    JBORDER: none;
    JCURSOR: hand;
    JCURSOR-DISABLED: default;
}

.clsJGCDropArrow3D
{
    JBACKGROUND-COLOR: #DEDEDE;
    JBORDER: 2px outset;
    JCURSOR: default;
}

.clsJGCJTime
{
    BORDER: 2px inset;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: ±¼¸²,Tahoma;
    BACKGROUND-COLOR: white;
    HEIGHT: 18px;
    WIDTH: 98px
}

.clsJGCJTimeReadOnly
{
    COLOR: black;
    BACKGROUND-COLOR: silver
}

.clsJGCJTimeDisabled
{
    COLOR: gray;
    BACKGROUND-COLOR: silver
}

.clsJGCJDateFont
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: ±¼¸²,arial
}

.clsJGCMain
{
    JBACKGROUND-COLOR-HIGHLIGHT: #FFFFCC
}

.clsJLCMain
{
   JBACKGROUND-COLOR: #FFFFFF;  
   JBACKGROUND-COLOR-CHEVRON: #FFFFFF;
   JBACKGROUND-COLOR-HIGHLIGHT: #FFFFCC;
   JBACKGROUND-COLOR-HEADER: #EFEFEF;
   JBACKGROUND-COLOR-HEADER-DRAG: #DEDEDE;
   JBACKGROUND-COLOR-HEADER-FROZEN: #979597;
   JBACKGROUND-COLOR-HEADER-VOID: #FFFFFF;
   JBACKGROUND-COLOR-ROW-ACTIVE: #EFEF99;
   JBACKGROUND-COLOR-ROW-SELECTED: #EFEF99;
   JBACKGROUND-COLOR-INACTIVE-CURRENTROW: #F8F8D2;
   JBORDER-COLOR: #E0DFE3;
   JBORDER-COLOR-GRID: #EFEFEF;
   JBORDER-COLOR-GRID-FROZEN: #FFFFFF;
   JBORDER-COLOR-GRID-FROZEN-SEPARATOR: #000000;
   JBORDER-COLOR-GRID-HEADER: #E0DFE3;
   JBORDER-WIDTH: 0px;
   JBORDER-WIDTH-GRID: 1px;
   JBORDER-WIDTH-GRID-FROZEN-SEPARATOR: 2px;
   JCOLOR: #000000;
   JCOLOR-HEADER: #000000;
   JCOLOR-HEADER-FROZEN: #FFFFFF;
   JCOLOR-LINK: #6666CC;
   JCOLOR-ROW-ACTIVE: #000000;
   JCOLOR-ROW-SELECTED: #000000;
   JFONT-FAMILY: ±¼¸²,Tahoma;
   JFONT-SIZE: 8pt;   
   JHEIGHT-HEADER: 22px;
   JHEIGHT-ROW: 21px;
}

.clsScreenBar
{
   NC-TAB-BACKGROUND-COLOR: #E0E5F5;
   NC-TAB-BACKGROUND-COLOR-SELECTED: #FFFFFF;
   NC-TAB-BACKGROUND-COLOR-MOUSE: #FFFFFF;
   NC-TAB-FONT-COLOR: #004784;
   NC-TAB-FONT-COLOR-SELECTED: #004784;
   NC-TAB-FONT-FAMILY: ±¼¸²,Tahoma;
   NC-TAB-FONT-SIZE: 8;
   NC-TAB-FONT-MOUSEOVER-COLOR: #004784;
   NC-TAB-BORDER-PEN-COLOR: #939FC2;
   NC-LINK-FONT-FAMILY: ±¼¸²,Tahoma;
   NC-LINK-FONT-SIZE: 8;
   NC-LINK-FONT-COLOR: #004784;
   NC-LINK-FONT-COLOR-SELECTED: #000000;
   NC-LINK-SEPERATOR-PEN-COLOR: #004784;
   NC-LINK-FRAME-BACKGROUND-COLOR: #FFFFFF;   
}

.clsVisibilityPicker
{
   NC-TAB-FONT-COLOR: #658AC3;
   NC-TAB-FONT-COLOR-SELECTED: #FFFFFF;
   NC-TAB-FONT-FAMILY: ±¼¸²,Arial;
   NC-TAB-BACKGROUND-COLOR-SELECTED: #658AC3;
   NC-TAB-BACKGROUND-COLOR:#FFFFFF;
   NC-TAB-BACKGROUND-COLOR-MOUSE: #FFFFFF;
   NC-TAB-FONT-MOUSEOVER-COLOR: #0000FF;
}

.clsDetailCategory
{
   NC-TAB-BACKGROUND-COLOR: #E0E5F5;
   NC-TAB-BACKGROUND-COLOR-SELECTED: #FFFFFF;
   NC-TAB-BACKGROUND-COLOR-MOUSE: #FFFFFF;
   NC-TAB-FONT-COLOR: #004785;
   NC-TAB-FONT-COLOR-SELECTED: #000000;
   NC-TAB-BORDER-PEN-COLOR: #939FC2;
   NC-TAB-FONT-FAMILY: ±¼¸²,Tahoma;
   NC-TAB-FONT-SIZE: 8;
   NC-LINK-FONT-FAMILY: ±¼¸²,Tahoma;
   NC-LINK-FONT-SIZE: 8;
   NC-LINK-FONT-COLOR: #333399;
   NC-LINK-FONT-COLOR-SELECTED: #333399;
}

.clsSubDetailView
{
   NC-TAB-BACKGROUND-COLOR: #466FB4;
   NC-TAB-BACKGROUND-COLOR-SELECTED: #F0F0F0;
   NC-TAB-BACKGROUND-COLOR-MOUSE: #CCD9EE;
   NC-TAB-FONT-COLOR: #FFFFFF;
   NC-TAB-FONT-COLOR-SELECTED: #333399;
   NC-TAB-FONT-FAMILY: ±¼¸²,Tahoma;
}

.clsAlphaTab
{
   AL-TAB-BACKGROUND-COLOR: #658AC3;
   AL-TAB-BACKGROUND-COLOR-SELECTED: #FFFFFF;
   AL-TAB-BACKGROUND-COLOR-MOUSE: #E0E5F5;
   AL-TAB-FONT-COLOR: #FFFFFF;
   AL-TAB-FONT-COLOR-SELECTED: #336699;
   AL-TAB-FONT-COLOR-MOUSE: #336699;
   AL-TAB-FONT-FAMILY: ±¼¸²,Tahoma;
   AL-TAB-FONT-SIZE: 8;
}

.ListAppletRow {
  height: 20px;
}

.siebui .ListAppletRow {
  height: 32px;
}

.ListAppletHeader {
  height: 22px;
}

.siebui .ListAppletHeader {
  height: 22px;
}
