/* å®šåˆ¶æ ·å¼  */
*{
	font-family: "Microsoft YAHEI";
}

.view-item {
	background: #eee;
}

.process-card ul {
    list-style: none;
    padding: 10px 0 20px 0;
    background: #fff;
    font-size: 0.8rem;
    border-radius: 5px;
}

.process-card ul li {
    padding: 5px 10px;
}

.process-card.card {
    background: #eee;
    box-shadow: none;
    margin: 15px 10px;
}

.process-card .card-body {
    padding: 0;
}

.process-card .span-key {
    display: inline-block;
    width: 30%;
    float: left;
}

.process-card .span-value {
	color: #999;
	width: 70%;
}

.process-card .span-title {
	margin: 15px 0 10px 0;
	color: #00ADFF;
	font-size: 1.1rem;
}

.process-header-left-btn {
	width: 40px;
	height: 40px;
	border: none;
	background: #0e90d2;
transition: 0s;
background: url(../../lib/images/back.png) 0 center no-repeat;
	background-size: auto 50%;
	position: absolute;
}

.process-card span._1dErd8pteY9__A-NbnPnIJ {
	float: none;
	text-align: left;
}