
/* Disabling/Hiding Major Elements */

	#_sweappmenu,
	.siebui-button-toolbar,
	#_swethreadbar,
	#_swescrnbar,
	#Toolbar1,
	#Toolbar2,
	#_swe,
	#_mask,
	#_maskoverlay,
	.calculator-popup,
	.ui-datepicker,
	.siebui-no-display {
		display:none!important;
	}

	#Dashboard,
	#SS_SearchCenter,
	#TaskAssistant,
	#SS_OpenUIReportPane,
	#SS_TaskUIPane,
	#SS_ChatUI,
	#_MobileViewTabContainer,
	.siebui-subview-navs{
		display:none!important;
	}

/* Correcting Layout */

	*{
		-webkit-print-color-adjust:exact;
		text-shadow:none!important;
	}

	body{
		background: none!important;
		overflow: visible!important;
		min-height: 1%!important;
		min-width: 1%!important;
		width: auto!important;
	}

	#_swecontent{
		min-width: 1%!important;
		position: inherit!important;
		background: none!important;
		border: none!important;
		-webkit-box-shadow: none!important;
		box-shadow: none!important;
	}

	#_swecontent > div {
		padding: 0!important;
		margin: 0!important;
	}

	.siebui-applet, .LayoutStyleMin, .LayoutStyleMax, .LayoutStyleHide, div.siebui-screen-hp-applet, div.NotSelected, div.Selected{
		padding: 0!important;
		margin: 5px 5px!important;	
	}


	.siebui-sub-applets{
		background: none!important;
		border: none!important;
		padding: 0!important;		
	}


/* Disabling/Hiding Elements */

	.siebui-applet-search-container,
	.AppletMenu,
	.appletButton,
	.appletButtonDis,
	.SearchCtrl,
	.ui-pager-control,
	.style-flipper,
	.ui-btn-corner-all,
	.AppletButtons .siebui-link-icon-e,
	.AppletButtons .siebui-link-icon-d,
	.AppletButtons .siebui-btn-icon-e,
	.AppletButtons .siebui-btn-icon-d,
	.AppletButtons .siebui-row-counter,
	img{
		display:none !important;
	}	

/* Calendar Specific */
	#siebui-cal-button-row-2,
	.fc-button{
		display:none !important;
	}
